POSTGRES_USER=vigia
POSTGRES_PASSWORD=vigia
POSTGRES_DB=vigia
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@vigia.com
PGADMIN_DEFAULT_PASSWORD=vigia
PGADMIN_PORT=5050

JWT_SECRET=troque-por-um-segredo-forte-em-producao
BACKEND_PORT=3000
FRONTEND_PORT=5173
